<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과 페이지</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>입력한 데이터</h1>
    <p>Jiraticket_Url: <%= formData.jiraticketurl %></p>
    <p>summary: <%= formData.summary %></p>
    <p>description: <%= formData.description %></p>

    <a href="/">다시 입력</a>
</body>
</html>
